html, body {
    margin: 0;
    height: 100%;
}

.body-container {
    height: 1000px;
    width: 100%
}

.modal {
    display: none;
    position: fixed; 
    z-index: 1;
    left:0; 
    top: 70px;
    height: 100%;
    width: 100%;
}

.modal-content{
    background-color: white;
    margin: 5% auto;
    width: 60%;
    height: 70%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 20%),  0px 8px 16px 0px rgba(0, 0, 0, 20%);
    border-radius: 20px;
}


.close-btn{
    float: right;
    font-size: 25px;
    color: #fa672b;
    
}

.close-btn:hover, .close-btn:focus{
    cursor: pointer;
    color: white;
}

.modal-header, .modal-footer{
    background: #052e78;
    padding: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.modal-header h2{
    text-align: center;
    font-size: 25px;
    color: #fa672b;
    font-weight: 700;
}
.modal-body{
    font-size: 20px;
    color: black;
    font-family: sans-serif;
    font-weight: 500;
    padding: 20px;
}
    
.disclaimer-div{
    color: black;
    border-bottom: 1px solid  gray;;
}

.disclaimer-div .disclaimer-p{
    font-weight: bold;
    text-decoration: underline;
}
.modal-body > p > a{
    color: #fa672b;
    text-decoration: underline;
}

.modal-body > p > a:hover{
    color: #041e42;
    
}

.modal-body > p > a:link{
    
    font-weight: bold;
   
    
}

.chart-container {
  height: 600px;
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.main-content-container {
    margin-bottom: 0px;
  height: 100%;
  width: 100%;
}

.landing-page {
  height: 100%;
  width: 100%;
  background-color:lightgreen;
  display: fixed;
}

.landing-buttons {
    display: flex; 
    width: 100%;
    height: 100%;
}

.maxchartbutton {
    display: flex; 
    padding-top: 20%;
    padding-left: 20%;
}